<ion-view view-title="My Madagascar Trip">
  	<ion-content>
		<ion-list>
		  <!--<ion-item ng-repeat="trip in trips" href="#/app/trips/{{trip.id}}">-->
		  <ion-item href="#/app/listsvolon">
			<img ng-src="img/volontourisme2.jpg" width="100%" />
			<i class="icon ion-ios-heart-outline"> Nos coups de coeur</i>
			<h3 class="homeimg">Participez à une aventure humaine</h3>
			<button class="button button-block button-balanced">6 annonces</button>
		  </ion-item>
		  <ion-item href="#/app/listseco">
			<img ng-src="img/parcbaobab1.jpg" width="100%">
			<i class="icon ion-ios-star-outline"> Top favoris</i>
			<h3 class="homeimg">Découvrez des endroits exceptionnels</h3>
			<button class="button button-block button-balanced" width="50px">8 annonces</button>
		</ion-item>
		<ion-item href="#/app/listsville">
			<img ng-src="img/marche6.jpg" width="100%">
			<i class="icon ion-asterisk"> A faire absolument</i> 
			<h3 class="homeimg">Flanez dans les villes insolites de Madagascar</h3>
			<button class="button button-block button-balanced" width="50px">7 annonces</button>
		</ion-item>
		<ion-item href="#/app/listsrando">
			<img ng-src="img/madahiking.jpg" width="100%">
			<i class="icon ion-thumbsup"> Top recommandation Aventure</i>  
			<h3 class="homeimg">Explorez des sentiers uniques au monde</h3>
			<button class="button button-block button-balanced" width="50px">5 annonces</button>
		</ion-item>
		<ion-item href="#/app/listsplage">	    
			<img ng-src="img/madabeach.jpg" width="100%">
			<i class="icon ion-icecream"> Top Destination farniente</i> 
			<h3 class="homeimg">Se ressourcer sur les plages ensoleillés</h3>
			<button class="button button-block button-balanced" width="50px">6 annonces</button>
		</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
