<ion-view view-title="A propos">
  <ion-content>
      <div class="padding">
      	<h2> A propos de cette Web app </h2>

            <p> Cette Web app a pour but de promouvoir l'écotourisme et le volontourisme à Madagascar, ce qui est une des principales missions de Catta Maki, le lémurien de Madagascar</p>
            <br/>

        <h2>À travers Catta Maki, le lémurien</h2>
        <h3>Nos missions sont: </h3>
        <ul> 
             <li> Faire connaître aux enfants les lémuriens et la forêt tropicale de Madagascar </li>
             <br/>
             <li> Soutenir des projets d'éducation d'enfants, des projets de préservation de la forêt et des lémuriens à Madagascar </li>
             <br/>
             <li> Participer au développement de l'écotourisme et du volontourisme à Madagascar </li>
        </ul>
      </div> 
  </ion-content>
</ion-view>
