<ion-view view-title="Carte">
  <ion-content>
  
    <h2>Madagascar</h2>
    <h3>Un paradis de la nature</h3>
    <h3>Une biodiversité unique au monde</h3>

<!--    	<ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="title">
		    			<button class="button button-block button-positive"> 
		    			{{ currentDate | date:'dd - MMMM - yyyy' }} </button>
				</ionic-datepicker>-->
   
		<div id="map" ng-controller="MadaMapCtrl" data-tap-disabled="true"> </div>
	
  </ion-content>
</ion-view>