<ion-view view-title="Nos partenaires">
  <ion-content>
  	<div class="padding"> 
	    <h1>Nos partenaires</h1>
	    <h2> Des ONG </h2>
		    <img ng-src="img/LCN.png" width="20%">
		    <img ng-src="img/sainteluceLogo.jpg" width="20%">		    
		    <img ng-src="img/maddogini.png" width="25%">
		    <img ng-src="img/lrc.png" width="20%">
	    
	    <h2> Des Associations </h2>
	    	<img ng-src="img/GERP_LOGO.jpeg" width="25%">
	    	<img ng-src="img/AZAFADY-LOGO.jpg" width="30%">
			<img ng-src="img/Mitsinjologo.jpg" width="25%">

	</div>
  </ion-content>
</ion-view>