<ion-view view-title="Ecotourisme au bout du monde">
  <ion-content>
    <h2>Nos Top favoris endroits exceptionnels</h2>
     <ion-list>
		  <!--<ion-item ng-repeat="trip in trips" href="#/app/trips/{{trip.id}}">-->
		  <ion-item href="#/app/details1eco">
			<img ng-src="img/descentetsiribihina.jpg" width="100%" />
			<h3 class="homeimg">Une descente multicolorée dans le lac de Tsiribihina</h3>
			<button class="button button-block button-balanced">N'hésitez plus à partir</button>
		  </ion-item>
		  <ion-item href="#/app/details2eco">
			<img ng-src="img/Allee-Baobab.jpg" width="100%">
			<h3 class="homeimg">Un spectacle époustouflant de l'allée du Baobab</h3>
			<button class="button button-block button-balanced" width="50px">Réservez votre voyage</button>
		</ion-item>
		<ion-item href="#/app/details3eco">
			<img ng-src="img/parc-ranomafana.jpg" width="100%"> 
			<h3 class="homeimg">Visitez le parc ranomafana, le paradis des lémuriens sifaka</h3>
			<button class="button button-block button-balanced" width="50px"> Découvrez ces fascinants lémuriens sifaka </button>
		</ion-item>
		<ion-item href="#/app/details4eco">
			<img ng-src="img/botanique.jpg" width="100%">  
			<h3 class="homeimg">Parc national </h3>
			<button class="button button-block button-balanced" width="50px">Explorez l'incroyable biodiversité de Madagascar</button>
		</ion-item>
		<ion-item href="#/app/details5eco">	    
			<img ng-src="img/isalo.jpg" width="100%">
			<h3 class="homeimg">Une aventure exceptionnelle au coeur du parc Isalo et ses alentours</h3>
			<button class="button button-block button-balanced" width="50px">Découvrez nos offres</button>
		</ion-item>
		</ion-list>
  </ion-content>
</ion-view>