<ion-view view-title="Sentiers uniques au monde">
  <ion-content>
    <h2>Contemplez le paysage du nord au sud</h2>
    <ion-list>
		  <!--<ion-item ng-repeat="trip in trips" href="#/app/trips/{{trip.id}}">-->
		  <ion-item href="#/app/details1eco">
			<img ng-src="img/botanique.jpg" width="100%">  
			<h3 class="homeimg"></h3>
			<button class="button button-block button-balanced" width="50px">Explorez l'incroyable biodiversité de Madagascar</button>
			</ion-item>			
			<ion-item href="#/app/details2eco">
			<img ng-src="img/forgeron.jpg" width="100%" />
			<h3 class="homeimg">Découvrez Ambatolampy, la terre des forgerons</h3>
			<button class="button button-block button-balanced">N'hésitez plus à partir</button>
		 	</ion-item>		  						
			<ion-item href="#/app/details3eco">
			<img ng-src="img/lacitasy.jpg" width="100%"> 
			<h3 class="homeimg">Randonnée dans les montagnes près du lac Itasy</h3>
			<button class="button button-block button-balanced" width="50px"> Promenez-vous dans la douceur des hautes terres </button>
			</ion-item>		
			<ion-item href="#/app/details4eco">
			<img ng-src="img/chutelily.jpg" width="100%">
			<h3 class="homeimg">Promenz-vous à la Chute lily aux charmes envoutants</h3>
			<button class="button button-block button-balanced" width="50px">Découvrez l'histoire de la chute lily</button>
			</ion-item>
			<ion-item href="#/app/details5eco">	    
			<img ng-src="img/zebu.jpg" width="100%">
			<h3 class="homeimg">Le marché de zébu à Ambalavao au sud-est de Madagascar</h3>
			<button class="button button-block button-balanced" width="50px">Participez à ce marché local vivant</button>
		</ion-item>
		</ion-list>
  </ion-content>
</ion-view>