<ion-view view-title="Des villes insolites">
  <ion-content>
    <h2>Prenez le temps de flaner dans ces villes</h2>
    <ion-list>
		  <!--<ion-item ng-repeat="trip in trips" href="#/app/trips/{{trip.id}}">-->
		  <ion-item href="#/app/details1eco">
			<img ng-src="img/diego.jpg" width="100%">  
			<h3 class="homeimg">Diégo-suarez ou Antsiranana, une ville intemporelle</h3>
			<button class="button button-block button-balanced" width="50px">Balladez-vous dans cette ville aux charmes coloniales</button>
			</ion-item>							  						
			<ion-item href="#/app/details2eco">
			<img ng-src="img/ilakaka.jpg" width="100%"> 
			<h3 class="homeimg">Visitez cet endroit fascinant, le trésor des saphirs bleus</h3>
			<button class="button button-block button-balanced" width="50px"> Allez à l'encontre des Malgaches chercheurs du saphir bleu </button>
			</ion-item>		
			<ion-item href="#/app/details3eco">
			<img ng-src="img/forgeron.jpg" width="100%" />
			<h3 class="homeimg">Découvrez Ambatolampy, la terre des forgerons</h3>
			<button class="button button-block button-balanced">N'hésitez plus à partir</button>
		 	</ion-item>	
		 	<ion-item href="#/app/details4eco">
			<img ng-src="img/pousse-pousse.jpg" width="100%">
			<h3 class="homeimg">Explorez Antsirabe, la ville des pousses</h3>
			<button class="button button-block button-balanced" width="50px">Réservez votre voyage</button>
			</ion-item>
			<ion-item href="#/app/details5eco">	    
			<img ng-src="img/zebu.jpg" width="100%">
			<h3 class="homeimg">Le marché de zébu à Ambalavao au sud-est de Madagascar</h3>
			<button class="button button-block button-balanced" width="50px">Participez à ce marché local vivant</button>
		</ion-item>
		</ion-list>
  </ion-content>
</ion-view>