<ion-view view-title="Carte">
  <ion-content>
  
    <h2>Madagascar</h2>
    <h3>Un paradis de la nature</h3>
    <h3>Une biodiversité unique au monde</h3>

<!--    	<ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" title="title">
		    			<button class="button button-block button-positive"> 
		    			{{ currentDate | date:'dd - MMMM - yyyy' }} </button>
				</ionic-datepicker>-->
   
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>

		<ui-gmap-markers models="iconsMarkers" idkey="iconsMarkers.id" coords="'coords'" icon="'icon'">
        </ui-gmap-markers>

	</ui-gmap-google-map>
	
  </ion-content>
</ion-view>