<ion-view view-title="A propos">
  <ion-content>
      <div class="padding">
      	<h2> A propos </h2>

            <p> Cette application mobile a pour but de promouvoir l'écotourisme et le volontourisme à Madagascar, ce qui est une des principales missions de Catta Maki, le lémurien de Madagascar.</p>
            <br/>
            <div class="logoApropos" >
            <img ng-src="img/LOGOWEB_CATTA.png" width="25%" />
          </div>

        <h2>À travers Catta Maki,</h2>

        <h3>Nos missions sont: </h3>
        <ul> 
             <li> Faire connaître aux enfants les lémuriens et la forêt tropicale de Madagascar. </li>
             <br/>
             <li> Soutenir des projets d'éducation d'enfants, des projets de préservation de la forêt et des lémuriens à Madagascar. </li>
             <br/>
             <li> Participer au développement de l'écotourisme et du volontourisme à Madagascar. </li>
        </ul>
      </div> 
  </ion-content>
</ion-view>
